@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

*{
    font-family: Signika;
    box-sizing: border-box;
    color: #333;
}

body{
    background-image: url(https://www.google.com/imgres?imgurl=http%3A%2F%2F7-themes.com%2Fdata_images%2Fcollection%2F9%2F4506632-orange-wallpapers.jpg&imgrefurl=http%3A%2F%2F7-themes.com%2Fcollections%2Fhdq-orange-wallpapers%2F&tbnid=zVauV76vHYjBJM&vet=12ahUKEwiNl7eqjYjwAhV9A7cAHeymCRcQMygCegUIARDQAQ..i&docid=Lm4vwMsjVnid9M&w=1920&h=1200&q=orange%20theme%20background&ved=2ahUKEwiNl7eqjYjwAhV9A7cAHeymCRcQMygCegUIARDQAQ);
}
.chatroomPage{
    margin-top: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 1rem;
    left: 20%;
    align-content: center;
    height: max-content;
    height:auto;
    position: relative;
    width: 40rem;
   
}
.chatroomcardHeader{
    color: aliceblue;
    background:rgb(228, 89, 8);
    padding: 00.7rem 1.5rem;
    border-radius: 2px;
    text-transform:uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -1rem;
    left: -0.75;
    transform: skewY(-4deg);
}

.chatroomActions{
 
    bottom: 5px;
    left: 10%;
    right: 10%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 72px;
    grid-gap: 1rem;
    border-top: 1px solid #eee;
}

.chatroomContent{
    
    top: 2.5rem;
    left: 0;
    right: 0;
    bottom: 3.5rem;
    padding: 0.5rem;
    overflow: auto;
}
.chatroomActions button{
    height: 100%;
}

.message{
    margin-bottom: 0.25rem;

}
.otherMessage{
    color: #0099cc;
    font-weight: bold;
}
.ownMessage{
    color: #00cc00;
    font-weight: bold;

}
.leave{
    
    margin-left: 50rem;
    width: auto;
}
